<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Administracion</span>
</nav>

<div>
	<ol>
		<li><%= link_to " Vista a la pagina Web DemoConoceNayarit", root_path%></li>
		<li><%= link_to " Agregar una Playa", beaches_path %></li>
		<li><%= link_to " Agregar un Evento", events_path %></li>
		<li><%= link_to " Agregar una Categoria de Evento", eventcategories_path %></li>
		<li><%= link_to " Agregar un Hotel", hotels_path %></li>
		<li><%= link_to " Agregar un Pueblo Magico", magictowns_path %></li>
		<li><%= link_to " Agregar un Restaurante", restaurants_path %></li>
		<li><%= link_to " Agregar una Sitio de Interes", sites_path %></li>
		<li><%= link_to " Agregar una Categoria de Sitio", sitecategories_path %></li>
		<li><%= link_to " Agregar una Ruta Turistica", routes_path %></li>
		<li><%= link_to " Agregar un Vuelo", flights_path %></li>
		<li><%= link_to " Agregar un Autobus", buses_path %></li>
		<li><%= link_to " Agregar Terrestre", lands_path %></li>
	</ol>
</div>