<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= image_tag "nayarit.png", size: "50x50" %>
  <%= link_to "DemoConoceNayarit", root_path, class:"navbar-brand"%>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Pueblos Magicos", pueblos_magicos_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div id="ti-como">
  <center><h4 id="ti">¿Como llegar?</h4></center>
</div>

<div id="gen-como">
  
  <div id="aerolinea">
    <h3 id="t-a">Aerolineas</h3> 
    <p id="p-a">
      Aeroméxico Tel 1: 01 55 5133 4000 Tel 2: 01 55 5133 4082 www.aeromexico.com   American Airlines Tel 1: 5209-1400 Tel 2: 01-800-904-6000 www.ae.com   United Airlines Tel: 01 800 900 5000 y 55 5283 5500Con atención los 365 días del año de 7am a 23hrs. www.united.com   VivaAerobus Tel: 52 81 8215 0150 www.vivaaerobus.com   Volaris Tel: 52 55 1102 8000 www.volaris.mx   Interjet Tel: 01 800 011 2345 www.interjet.com.mx   Tar Tel: 01 55 2
    </p>
  
  </div>
  <div id="img">
  <%= image_tag "avion.jpg",size: "500x400"%>
  </div>  


  <div id="autobus">
    <h3 id="t-a">Autobuses</h3>
    <p id="p-a">
      En Autobús Siéntete libre de viajar sin preocupaciones, disfrutando de los hermosos paisajes del Estado. Central de Autobuses de Guanajuato Carretera Guanajuato-Silao 450 Tel: 473 733 1340 Líneas de autobuses ETNTel: 473 733 1579 / 01 800 8000 386 www.etn.com.mx Primera Plus Tel: 473 733 1332 / 01 800 375 7587 www.primeraplus.com.mx Ómnibus de México Tel: 473 733 2607/ 01 800 765 66 36 www.odm.com.mx TN - Turistar Tel: 01 800 800 03 86 www.etn.com.mx Estrella BlancaTel: 01 800 50 89
    </p>
  </div>
  <div id="img-2">
      <%= image_tag "autobus.jpg",size: "750x400"%>
  </div>

  <div id="terrestre">
    <h3 id="t-a">Terrestre</h3>
    <p id="p-a">
      En Auto ¿Quieres saber cuáles son las principales carreteras para llegar hasta Guanajuato? Hemos preparado lo indispensable para que no te pierdas. Principales autopistas para llegar a Guanajuato desde: Ciudad de México: 361 km. 03:53 h. Total casetas $396.00Guadalajara, Jalisco: 284 km. 02:49 h. Total casetas $486.00Monterrey, Nuevo León: 679 km. 07:11 h. Total casetas $232.00Morelia, Michoacán: 179 km. 01:57 h. Total casetas $215.00Cuernavaca, Morelos: 440 km. 04:52 h. Total casetas $340
    </p>
  </div>
  <div id="img-2">
      <%= image_tag "carretera.jpg",size: "750x400"%>
  </div>
  
</div>

<footer>
  <div>
      <center><%= image_tag "nayarit.png", size:"140x140" %></center>
  </div> 
</footer>