<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<%= image_tag @route.img.url(:medium)%>

<p>
  <strong>Body:</strong>
  <%= @route.body %>
</p>

<p>
  <strong>Sites:</strong>
  <%= @route.sites %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>