<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bus.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw @bus.body %>
</p>

<%= link_to 'Edit', edit_bus_path(@bus) %> |
<%= link_to 'Back', buses_path %>
