<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>
<%= image_tag @site.img.url(:medium)%>
<p>
  <strong>Body:</strong>
  <%= raw @site.body %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
